@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<div class="custom-top-navbar">
    <div class="nav-left">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">HOME</NavLink>
        <NavLink class="nav-link" href="books">BOOKS</NavLink>
        <NavLink class="nav-link" href="miscs">MISC</NavLink>
        <AuthorizeView Roles="Admin">
            <NavLink class="nav-link" href="/BackDoor/Import">IMPORT</NavLink>
        </AuthorizeView>
    </div>

    <div class="nav-center">
        <span class="brand-name">BookBuds</span>
    </div>

    <div class="nav-right">
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="cart">CART</NavLink>
                <NavLink class="nav-link" href="wishlist">WISHLIST</NavLink>
                <NavLink class="nav-link" href="account/logout">LOGOUT</NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="account/login">LOGIN</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}