@inject NavigationManager NavigationManager
<div class="custom-top-navbar">

    <div class="nav-left">
        <NavLink class="nav-link" href="">HOME</NavLink>
        <NavLink class="nav-link" href="books">BOOKS</NavLink>
        <NavLink class="nav-link" href="misc">MISC</NavLink>
    </div>

    <div class="nav-center">
        <a class="brand-name">BookBuds</a>
    </div>

    <div class="nav-right">
        <NavLink class="nav-link" href="account/login">LOGIN</NavLink>
    </div>  
</div>

<style>
    .custom-top-navbar {
        background: red;
        color: white;
        display: grid;
        grid-template-columns: 1fr auto 1fr; 
        align-items: center;
        padding: 15px 30px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .nav-left {
        display: flex;
        justify-content: flex-start; 
        gap: 30px;
    }

    .nav-center {
        text-align: center; 
    }

    .nav-right {
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    .brand-name {
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
</style>
@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}