@page "/miscs/create"
@using Microsoft.EntityFrameworkCore
@using Grp19OnlineBookStorePE03.Classes
@inject IDbContextFactory<Grp19OnlineBookStorePE03.Data.Grp19OnlineBookStorePE03Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Misc</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Misc" OnValidSubmit="AddMisc" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="miscname" class="form-label">MiscName:</label> 
                <InputText id="miscname" @bind-Value="Misc.MiscName" class="form-control" /> 
                <ValidationMessage For="() => Misc.MiscName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label> 
                <InputText id="category" @bind-Value="Misc.Category" class="form-control" /> 
                <ValidationMessage For="() => Misc.Category" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Misc.Price" class="form-control" /> 
                <ValidationMessage For="() => Misc.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="staffid" class="form-label">StaffId:</label> 
                <InputNumber id="staffid" @bind-Value="Misc.StaffId" class="form-control" /> 
                <ValidationMessage For="() => Misc.StaffId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/miscs">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Misc Misc { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddMisc()
    {
        using var context = DbFactory.CreateDbContext();
        context.Misc.Add(Misc);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/miscs");
    }
}
