@page "/miscs/edit"
@using Microsoft.EntityFrameworkCore
@using Grp19OnlineBookStorePE03.Classes
@inject IDbContextFactory<Grp19OnlineBookStorePE03.Data.Grp19OnlineBookStorePE03Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Misc</h2>
<hr />
@if (Misc is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Misc" OnValidSubmit="UpdateMisc" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Misc.Id" value="@Misc.Id" />
                <div class="mb-3">
                    <label for="miscname" class="form-label">MiscName:</label>
                    <InputText id="miscname" @bind-Value="Misc.MiscName" class="form-control" />
                    <ValidationMessage For="() => Misc.MiscName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Category:</label>
                    <InputText id="category" @bind-Value="Misc.Category" class="form-control" />
                    <ValidationMessage For="() => Misc.Category" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price:</label>
                    <InputNumber id="price" @bind-Value="Misc.Price" class="form-control" />
                    <ValidationMessage For="() => Misc.Price" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="staffid" class="form-label">StaffId:</label>
                    <InputNumber id="staffid" @bind-Value="Misc.StaffId" class="form-control" />
                    <ValidationMessage For="() => Misc.StaffId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/miscs">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Misc? Misc { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Misc ??= await context.Misc.FirstOrDefaultAsync(m => m.Id == Id);

        if (Misc is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateMisc()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Misc!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!MiscExists(Misc!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/miscs");
    }

    private bool MiscExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Misc.Any(e => e.Id == id);
    }
}
