@page "/miscs"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Grp19OnlineBookStorePE03.Classes
@using Grp19OnlineBookStorePE03.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Grp19OnlineBookStorePE03.Data.Grp19OnlineBookStorePE03Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="miscs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Misc">
    <PropertyColumn Property="misc => misc.StaffId" />
    <PropertyColumn Property="misc => misc.Category" />
    <PropertyColumn Property="misc => misc.Price" />
    <PropertyColumn Property="misc => misc.MiscName" />

    <TemplateColumn Context="misc">
        <a href="@($"miscs/edit?miscid={misc.MiscId}")">Edit</a> |
        <a href="@($"miscs/details?miscid={misc.MiscId}")">Details</a> |
        <a href="@($"miscs/delete?miscid={misc.MiscId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Grp19OnlineBookStorePE03Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
