@page "/bookstocks/create"
@using Microsoft.EntityFrameworkCore
@using Grp19OnlineBookStorePE03.Classes
@inject IDbContextFactory<Grp19OnlineBookStorePE03.Data.Grp19OnlineBookStorePE03Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>BookStock</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="BookStock" OnValidSubmit="AddBookStock" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookid" class="form-label">BookId:</label> 
                <InputNumber id="bookid" @bind-Value="BookStock.BookId" class="form-control" /> 
                <ValidationMessage For="() => BookStock.BookId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label> 
                <InputNumber id="quantity" @bind-Value="BookStock.Quantity" class="form-control" /> 
                <ValidationMessage For="() => BookStock.Quantity" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookstocks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private BookStock BookStock { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBookStock()
    {
        using var context = DbFactory.CreateDbContext();
        context.BookStock.Add(BookStock);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookstocks");
    }
}
